.aboutDiv {
    width: 100vw;
    height: 80vh;
    background-color: rgb(56, 50, 50);
    margin: 0;
    padding: 0;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: $highlightText;
    @include flexCenter(row);

    img {
        width: 25vw;
        height: auto;
        border: solid;
        border-width: 2px;
        border-radius: 100%;
        border-color: $highlightText;
    }

}


.aboutTextDiv {
    width: 70vw;
    height: inherit;
    @include flexCenter (column);
    gap: 5vh;

}


.aboutText {
    @include flexCenter (column);
    width: inherit;
    height: 32vh;
    text-align: center;


    h2 {
        height: auto;
        font-size: 3vw;
        color: $highlightText;
        margin-bottom: 3vh;
    }

    p {
        height: auto;
        font-size: 1.5vw;
        color: $primaryText;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: 0.7vh;
    }
}

@media only screen and (max-width: 500px) {

    .aboutDiv {
        flex-direction: column;
        height: inherit;

        img {
            width: 50vw;
            margin-top: 5vh;
            margin-bottom: 2vh;
        }
    }

    .aboutTextDiv {
        width: 90vw;
        height: 90vh;
        @include flexCenter (column);
    
    }
    
    
    .aboutText {
        height: 37vh;
    
        h2 {
            height: auto;
            font-size: 7.5vw;
            color: $highlightText;
            margin-bottom: 2vh;
        }
    
        p {
            font-size: 4.5vw;
            color: $primaryText;
            margin-right: 2vw;
            margin-left: 2vw;
            margin-top: 0.2vh;
        }
    }
}